*.mtx
*.pkl
code/07_Endogenous_dose/*/*.csv
__pycache__
code/07_Endogenous_dose/*/*.ipynb
code/07_Endogenous_dose/endo_vs_exo/plots_endogenous
data/C3H10_10X_all_exps_D0regressed10pc_50pc_integrated_dosealigned.rds
.gitignore
data/df_allG1Cells_PhaseCorrected_allTFs_D0regressed10pc_50pc_integrated.rds
data/df_allG1Cells_PhaseCorrected_allTFs_D0regressed10pc_50pc_integrated_dosealigned.rds
code/05_Other_overexpression_studies/GSE216481/GSE216595_180124_perturb.h5ad
code/03_Reproducibility/plots/
code/04_Dose_sensitivity_and_reprogramming_capacity/Scaling/plots/
code/10_Combinations/output
code/10_Combinations/metadata.tsv
code/10_Combinations/prev